{% load static %}
{% block content %}
<div class="portada">
    <h1>Sistema Unificado de Tramites</h1>
    <img src="{% static 'img/logo_header.png' %}" alt="logo">
    <div class="mobile">
        <img src="{% static 'img/header_mob.png' %}" alt="">
    </div>
</div>
{% endblock %}