{% extends 'base.html' %}
{% block content %}
<div class="main_buscador">
    <h2>TRAMITES</h2>
    <form autocomplete="off" action="">
        <div class="autocomplete">
            <input id="myInput" type="text" name="mistramites" placeholder="Tramites">
        </div>
    </form>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/autocompletar.js' %}"></script>
</div>
{% endblock %}