{% extends 'base.html' %}

    {% block content %}
        <div class="contenedor-guia">
            <div class='titulo-guia'>
                <h2>GUIA DE TRAMITES: {{ guia.nombre }}</h2>
            </div>
            <div class='guia'>
                {{ guia.descripcion | safe }}
                <br>
                <h4>Archivos Descargables:</h4>
                {% for archivo in guia.archivos.all %}
                    <a href='/{{archivo.archivo.url}}' target="_blank">{{ archivo.nombre }}</a><br>
                {% endfor %}
            </div>
        </div>
    {% endblock %}